<li>
	{{name}}

	<button class="change-ate" data-id="{{id}}" data-newate="{{ate}}">
		{{#if ate}}Devour!{{else}}Make Another!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>